<ng-container matColumnDef="actions" *ngIf=params>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div *ngFor="let option of options">
      <a *ngIf="option.navigateFunction" (click)="option.navigateFunction(_router, params)">
        <button mat-menu-item>
          <mat-icon>{{ option.icon }}</mat-icon>
          {{ option.label }}
        </button>
      </a>
    </div>
    <div *ngFor="let option of options">
      <a *ngIf="option.context" (click)="option.context.methodFromParent(params)">
        <button mat-menu-item>
          <mat-icon>{{ option.icon }}</mat-icon>
          {{ option.label }}
        </button>
      </a>
    </div>
  </mat-menu>
</ng-container>
